@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(to right, #E9D5FF, #A78BFA, #7C3AED);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}